body{
    background: skyblue;

}
table{
    width: 800px;
    margin: auto;
    text-align: center;
    table-layout: fixed;
}
table, tr, th{
  padding: 20px;
  color: white;
  border: 1px solid #080808;
  border-collapse: collapse;
  font-size: 18px;
  font-family: Arial;  
  background: linear-gradient(top,#3c3c3c 0%, #222222 100%);
  background: -webkit-linear-gradient(top,#3c3c3c 0%, #222222 100%);
  color: rgb(188, 200, 204)
}
td{
    padding: 20px;
    color: white;
    border: 1px solid #a09d9d;
    border-collapse: collapse;
    font-size: 18px;
    font-family: Arial;  
    background: linear-gradient(top,#3c3c3c 0%, #3a3636 100%);
    background: -webkit-linear-gradient(top,#7a837b 0%, #a3aca5 100%);

}
td:hover{
    background: rgb(207, 214, 202);

}
.button {
    background-color: rgb(44, 39, 39); 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
}
